In [10]:
import noshmishmosh as nm
import numpy as np
import scipy.stats as sc
import pandas as pd

In [23]:
df = pd.DataFrame(nm.customer_visits)
print(len(df))
display(df.head())

# in order to conduct AB test, mish mosh need value to fill 3 params on sample size calculator

#seeking baseline conversion rate by define total visitor and visitor who buy
buying_visitor = df[df['purchased'] == True].reset_index(drop= True)
print(len(total_visitor))
display(buying_visitor.head())

baseline_conversion_rate = len(buying_visitor)/len(df)*100.0
print(baseline_conversion_rate)

500

   purchased  clickedthrough     id  moneyspent            name
0      False            True  83421         0.0    Michael Todd
1      False            True  46042         0.0  Brianna Harmon
2      False           False  23766         0.0    Mario Arnold
3      False           False  20859         0.0      Paul Quinn
4      False            True  57771         0.0    Jerome Moore

93

   purchased  clickedthrough     id  moneyspent               name
0       True            True  15153       39.01       Jacob Harmon
1       True            True  74271       10.16       Wayne Potter
2       True            True  83489       36.88     Jimmy Carrillo
3       True            True  33246       23.41         Kara Davis
4       True            True  29847       33.49  Mr. Brett Roberts

18.6

In [53]:
#seeking lift value parameter
total_week_income = round((buying_visitor['moneyspent'].sum()),2)
print(total_week_income)

average_income = np.ceil(np.mean(buying_visitor.moneyspent))
print(average_income)

new_customers_needed = np.ceil(float(1240/average_income))
print(new_customers_needed)

new_basline_conversion = (new_customers_needed + len(buying_visitor))/len(df) *100
print(new_basline_conversion)

min_desired_lift = (new_basline_conversion - baseline_conversion_rate)/baseline_conversion_rate *100.0
print(min_desired_lift)

#with treshold of significance is 10 % 
#wecan start to calculate amount of sample needed

2468.56
27.0
46.0
27.800000000000004
49.46236559139786