# Pandas cheatsheet

##### first thing waht you do if you want to use pandas module

In [22]:
import pandas as pd
import numpy as np

### Pandas Series

A series in pandas is a one dimentional array and built of numpy array. a series have an index with an addon label.  
a series can be indexed with :
- numerical  
- label

#### Creating series

In [5]:
data1 = [1990,1942,1965,1984]
idx1 = ['USA','Germany','Australia','Rusia']

independent_day = pd.Series(data=data1,index=idx1,dtype='float32')
display(independent_day)

USA          1990.0
Germany      1942.0
Australia    1965.0
Rusia        1984.0
dtype: float32

1942.0

In [28]:
food_price= {'indomi':3000,'telur':2000,'aqua':3000,'sarden':8000}
food_price2 = {'indomi':3000,'susu':1500,'aqua':3000,'kornet':15000}
ser1 = pd.Series(food_price)
ser2 = pd.Series(food_price2)
ser1

indomi    3000
telur     2000
aqua      3000
sarden    8000
dtype: int64

#### Indexing Series

In [14]:
independent_day[2] #1965
independent_day['Germany'] #1942

#grabbing index name or keys
food_price.keys()

dict_keys(['indomi', 'telur', 'aqua', 'sarden'])

#### Series Operation

In [31]:
ser1 * 2
ser1 + ser2 #this operation will show nan if there is any mismatch
ser1.add(ser2,fill_value = 0) #with pressing tab, it will show any operation. with this addition ops will sum and keep the mismatch value

aqua       6000.0
indomi     6000.0
kornet    15000.0
sarden     8000.0
susu       1500.0
telur      2000.0
dtype: float64

### DATAFRAME

a group of panda series that shares same index

#### creating dataframe
there is a few way to create data frame.
1. call DataFrame function from pandas module
2. create dataframe using dictionary data type, but column name will placed in alphabetically order
3. using column keyword argument with list datatype
4. using pandas module to read other source. use function (pd.read_csv("somefile.csv"))
    - first line data in comma separated value is a column name, and the other lines is the value of a column

In [57]:
df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  'Product Name':['t-shirt','t-shirt','skirt','skirt'],
  'Color':['blue','green','red','black']
})
df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  [3,'San Francisco', 90],
  [4, 'Sacramento',115]
],
  columns=[
    'Store ID',
    'Location',
    'Number of Employees'
  ])

np.random.seed(20)
data2 = np.random.randint(0,101,(5,5))
idx2 = ['JKT','BDG','BGR','YOG','SLE']
col2 = ['Jan','Feb','Mar','Apr','May']

df = pd.DataFrame(data = data2,index = idx2,columns=col2)
display(df)

     Jan  Feb  Mar  Apr  May
JKT   99   90   15   95   28
BDG   90    9   20   75   22
BGR   71   34   96   40   85
YOG   90   26   83   16   62
SLE   16    7   98    6   26

### Reading Files

In [50]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9EC7-490F

 Directory of C:\Users\ACER

22/12/2020  17:44    <DIR>          .
22/12/2020  17:44    <DIR>          ..
19/04/2019  19:31    <DIR>          .android
12/04/2019  11:14    <DIR>          .AndroidStudio3.3
25/10/2020  20:31               893 .bash_history
24/12/2018  20:33    <DIR>          .cache
22/12/2020  17:44    <DIR>          .conda
22/12/2020  13:50                43 .condarc
16/06/2020  23:02    <DIR>          .dbus-keyrings
09/09/2020  22:59    <DIR>          .dotnet
19/04/2019  19:30                16 .emulator_console_auth_token
18/11/2020  22:54               180 .gitconfig
12/04/2019  12:36    <DIR>          .gradle
30/09/2020  22:28    <DIR>          .idlerc
16/12/2020  23:41    <DIR>          .ipynb_checkpoints
13/09/2020  08:12    <DIR>          .ipython
19/10/2020  10:32    <DIR>          .jupyter
18/04/2018  08:30    <DIR>          .LINE
14/10/2020  13:28    <DIR>          .matplotlib
02/10/2016  07:26    <DIR>          .oracle_jre_usage
18/04/2018  08:30    <DIR>          .QtWebEngineProcess
09/06/2020  11:43    <DIR>          .thumbnails
09/09/2020  22:28    <DIR>          .vscode
14/10/2020  15:25               119 codecademy.json
12/06/2019  19:43    <DIR>          Contacts
31/03/2017  16:27    <DIR>          Creative Cloud Files
20/12/2020  20:04    <DIR>          Data science path
20/12/2020  17:02    <DIR>          Desktop
26/10/2020  17:33    <DIR>          Documents
22/12/2020  07:45    <DIR>          Downloads
05/12/2020  18:32    <DIR>          ebook
12/06/2019  19:43    <DIR>          Favorites
05/12/2020  18:33    <DIR>          Interview test KMK online
31/10/2020  22:13             8.828 kevin algorithm.ipynb
17/11/2020  22:57           352.901 kevin matplotlib cheatsheet.ipynb
22/12/2020  17:44            33.715 kevin pandas cheatsheet.ipynb
21/12/2020  23:55            24.943 kevin py cheatsheet.ipynb
27/03/2016  01:29    <DIR>          kevinelri@ymail.com Creative Cloud Files
30/11/2020  15:16            12.436 language chart horizontal.png
30/11/2020  15:16            14.191 language chart.png
21/12/2020  23:55           179.008 learning terminal.ipynb
12/06/2019  19:43    <DIR>          Links
26/08/2020  10:07    <DIR>          Music
11/12/2020  15:06            45.159 my other skills stat.png
30/11/2020  19:48            69.172 my skill stats.png
25/10/2020  19:41    <DIR>          my-learing-project
21/12/2020  23:54            44.618 np and sp statistic.ipynb
26/08/2020  10:16    <DIR>          Pictures
19/10/2020  10:30                 0 pokemon.py
03/11/2020  18:21    <DIR>          project AB testing shoeflycom
19/11/2020  20:11    <DIR>          project biodiversity
03/11/2020  18:26    <DIR>          project coded correspondence
03/11/2020  18:25    <DIR>          project elections
14/11/2020  21:00    <DIR>          project familiar blood
18/11/2020  18:53    <DIR>          project farmburgs AB test
14/11/2020  23:30    <DIR>          project fetchmaker statistic
17/12/2020  20:30    <DIR>          Project hurricane
11/11/2020  15:59    <DIR>          project Life Expectancy By Country
16/11/2020  22:17    <DIR>          project nish Mish mosh
07/11/2020  21:54    <DIR>          project orion constellation
04/11/2020  17:34    <DIR>          project Page Visits Funnel cooltshirts
03/11/2020  18:24    <DIR>          project pasta bazoolin
03/11/2020  18:25    <DIR>          project petal power
19/10/2020  22:46             6.334 project pokemon.py.ipynb
03/11/2020  18:27    <DIR>          project reggie linnear reggression
03/11/2020  18:28    <DIR>          project sortation
05/11/2020  21:55    <DIR>          project Sublime Limes Line Graphs
08/11/2020  21:07    <DIR>          project variance in weather
27/03/2016  06:49    <DIR>          pucenongan@gmail.com Creative Cloud Files
04/10/2020  21:47    <DIR>          PycharmProjects
15/09/2020  16:01    <DIR>          python-random-quote
09/11/2020  20:16    <DIR>          quartile lesson python
12/06/2019  19:43    <DIR>          Saved Games
12/06/2019  19:43    <DIR>          Searches
09/09/2020  23:43    <DIR>          source
10/11/2020  23:46    <DIR>          SQL project
18/06/2016  05:50    <DIR>          Tracing
26/08/2020  10:38    <DIR>          Videos
              17 File(s)        792.556 bytes
              61 Dir(s)  66.023.505.920 bytes free

In [52]:
pwd

'C:\\Users\\ACER'

pwd is to know where are you right now in the directory
ls to know what is available file in you current directory

### Inspecting data frames

1. use pd.head(num)
    using head function will show 5 first row and its column by default, if want more data tobe shown pass integer 
    as an argument in head function
2. use pd.info()
    The method df.info() gives some statistics for each column.    
3. display(dataframes)
    this can show to the terminal a database given in the argument
4. print(dataframes)
    old school method to print out the dataframes
5. use df.columns
    > will return a list containing column names
6. use df.index
    > will return information of index from dataset
7. use df.values
    > will return an array containing all values from dataset
8. use df.shape
    > return information of how dataset formed
9.use df.describe()
    > return general statistic of the dataframe, some of them may not accurate

## Data Cleaning

### Missing Value

Options for handling missing value.
1. Keep it
2. Remove it
3. Replace it

there is no fixed answer how to handle missing value, becaue not all of the condition we use same option.  
each of the option has pros and cons.

1. keep the missing data

> pros:
>> Easiest to do  
>> does not manipulate or change the true data

> cons:  
>> many method doesnt support Nan  
>> oftenly there is a reasonable guesses

2. dropping missing value

pros :
- easy to do
- can be based on rules

cons :
- potential to lose a lot of data and useful information
- limit trained model for future data

when dropping a missing value can be done with drop row or drop column.
oftenly is a good idea when dropping a row, one calculate the dropping percentage.

it is a good choice to drop a column if every row is missing the feature.

3. Replace a missing value

pros :
- potentiallly can save a lot of data to be used in model training
cons :
- hardest to do
- somewhat it is arbitrary
- because it is a made up value, that can be trigger false conclusion

### Check missing value

df.isnull()
df.notnull()

df[df['column'].notnull()]

### Defining standard missing value

suppose we have messy data that indicate a lot of missing value. the missing value might be (none,nan,n/a,null,-)

step 1. we must define what value considered as a missing value.
missing_value ['null','Nan','-','n/a','none','',' ']

step 2. give the the argument with our definition of missing value
df = pd.read_csv('city_data',na_values=missing_value)

### Drop missing value

df.dropna()
tresh = how many non null value minimum until being dropped

#### Filling null value with data

1. Entire Data frame
df.fillna('some value')
species.fillna('No Intervention', inplace=True)
    > fill every NaN with No Intervention, and apply to self dataframes.

2. specific column with pandas
df['DataFrame Column'] = df['DataFrame Column'].fillna(0)

3. specific column with numpy
df['DataFrame Column'] = df['DataFrame Column'].replace(np.nan, 0)

4.entire dataframe with numpy
df.replace(np.nan,0)

5. fill missing value with median or something else
    > median = df['column_tofill'].median()
    > df['column_tofill'].fillna(median,inplace=True)

6. fill with interpolation
pd.interpolate()

### unexpected value

suppose column type is string, but some of it somehow having integers.

this is how to fix it

counter = 0
for row in df.string_column:
    try:
        int(row) # trying to convert row values into integers if success :
        df.loc[counter, 'string_column'] = np.nan #if condition above success then the value will become NaN
    except ValueError: #if failing to convert into integers then:
        pass #do nothing continue looping
    counter +=1 #counter for iterate through rows

### Drop Duplicate Value

df.drop_duplicates()

##### how to deal with date and times in pandas

there are many ways to deal with date type datas.
1. using df['time'] = pd.to_datetime(df.time)
2. using df = pd.read_csv('file.csv', parse_dates=[column index])

##### selecting data

1. selecting all value from one column
    a. use dataframe['column']
        this method used if the column name break the variable name rules in pyhton. example : 12shoes, red fruit
    b. df.columnname
        this method used if column name follow variable rules in python
        
2. selecting value from multiple
   > new_df = dataframe[['column1', 'column2']]
       *Note: *Make sure that you have a double set of brackets ([[]]), or this command won’t work!
       
3. selecting rows
    > dataframes.iloc[index]
        DataFrames are zero-indexed, meaning that we start with the 0th row and count up from there
        iloc is the function to select particular row
    
    #selecting multiple rows
    > dataframes.iloc[start index:end index]
        iloc can be passed by 2 argument first is row argument, and column argument
        df.iloc[2:4,3:5] 
            this code will show row 2,4 and column 3,5
    > dataframes.loc[]
        loc() label based data selecting method which means that we have to pass 
        the name of the row or column which we want to select. This method includes 
        the last element of the range passed in it, unlike iloc(). loc() can accept 
        the boolean data unlike iloc().
        example of loc functions:
            data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)] #will select record with given filter condition.
            data.loc[(data.Year < 2015), ['Mileage']] = 22 #will update record where year below 2015 and column name mileage
            to the value 22.
    
    #selecting rows with logic
    > df[df.MyColumnName #expression# #value#]
        expression operator in python (<,>,,<=,>=,==,!=), (& 'and',| 'or')
        python will scan the value mathces with logic expression
    
    > df[(df.age < 30) #condition# (df.name == 'Martha Jones')]
       multiple expression separated by parentheses, then condition operator
       
    > df[df.gender.isin(['male'])]
        #this will show all records with gender male
        
    > filter1 = dataframe["Gender"].isin(["Female"]) 
            gender is a column from dataframe, female is the record in gender.
            the result is showing all records with female gender
      filter2 = dataframe["Team"].isin(["Engineering", "Distribution", "Finance" ])
              team is column, engineering and etc are records from team column.
              the result is showing all record that have value engineering and etc.
      queries = dataframe[filter1 & filer2]
          # displaying data with both filter applied and mandatory 
          
    #select record in particular column with condition
    > df.loc[(df.name == 'kevin'), ['name','gender']]

### selecting multilevel index

suppose we have 2 level index

df.loc[80]
> grab the outer index
df.loc[(70,4)]
> must use tuple. first arg is outer level, 2nd arg is inner level

df.xs(keys,level)
> keys is your index
> level is in which level the index is

## Filtering

### Show the largest and smallest

df.nlargest(2,'column')
> arg 1 how many row
> what column

df.nsmallest(arg1,arg2)

both of these methods is the same with
df.sort_values('col',ascending=True).iloc[:2]

#### Values in between

df.column.between(10,20,inclusive=True)
> return boolean

#### Sorting value

protection_counts = species.groupby('conservation_status')\
    .scientific_name.nunique().reset_index()\
    .sort_values(by='scientific_name')

sort_values argument :
by: Single/List of column names to sort Data Frame by.
axis: 0 or ‘index’ for rows and 1 or ‘columns’ for Column.
ascending: Boolean value which sorts Data frame in ascending order if True.
inplace: Boolean value. Makes the changes in passed data frame itself if True.
kind: String which can have three inputs(‘quicksort’, ‘mergesort’ or ‘heapsort’) of algorithm used to sort data frame.
na_position: Takes two string input ‘last’ or ‘first’ to set position of Null values. Default is ‘last’.

##### slicing indices

when we want to select particular rows or some records and save it into a variable,
the index are messed up and not numerically in order.
this is the pandas function comes in handy

df.reset_index(inplace=True,drop =True)
    reset_index() function is powerfull to rearrange index into numerically order.
    reset_index has few arguments, 2 of that is:
        inplace= boolean value, this argument will create new column that contains index in numberically orders
            inplace will modify our existing column
        drop = boolean value, this argument will delete new index column and set to base index label if combined
            both with inplace

## updating dataframe

                                                ##CONSIDER THIS IS DATA FRAMES##
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

##### some way to add column into existing dataframe

1. creating column with value match the existing rows
df['Sold in Bulk?']=['Yes','Yes','No','No']
    > this is update syntax that add sold in bulk new column into dataframe with value of yes and no 
2. creating column with single value without bracket.
df['Is taxed?'] = 'Yes'
    > if no square bracket given to the value, then all of the record for added column will result 'Yes'   
3. creating column with operation.
df['Margin']= df.Price - df['Cost to Manufacture']
    > this will create margin column with value of price value - cost to manuf value for each records in margin column

#### create column with lambda operation

In [ ]:
def quality(col1,col2):
    if col2/col1 > .25:
        return 'Generous'
    else:
        return 'Other'

df['Quality'] = df[['total_bill','tip']].apply \
(lambda df: quality(df['total_bill'],df['tip']),axis=1)

#### create column with np vectorize

In [ ]:
df['quality'] = np.vectorize(quality)(df['total_bill'],df['tip'])

##### column operations

1. applying function into column to create new column
df['Lowercase Name']= df.Name.apply(function)
    > syntax above will create new column named lowecase name in df dataframe, that contains value
    of lower function from Name column
    > function apply() will implement called function into column
    
2. applying logic operation to create new column
orders['shoe_source'] = orders.shoe_material.apply(lambda x: 'animal' if x == 'leather'else 'vegan')
    >

3.orders['salutation'] = orders.apply(lambda x: "Dear Mr. {}".format(x['last_name']) if x['gender'] == 'male' \
else "Dear Ms. {}".format(x['last_name']), axis=1 )

4.df['is_purchase'] = df.click_day.apply(lambda x: 'No Purchase' if pd.isnull(x) else 'Purchase')
5. df['new column'] = df['col1'] + df['col2']

### Replace value

1. replace known value
df['col'].replace(['value1','value2'],['new_val1','new_val2'])
my_map = {'val1':'newval1','val2':'newval2'}
df.col.map(my_map)

2. replace value based on conditional
combined_df.loc[combined_df.name == 'Jack', 'name'] = 'Jock'
combined_df['name'] = np.where(combined_df.name == 'John','Jhen',combined_df.name)

#### Deleting value

df.drop(labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise')

#### Change Index label

df.set_index(keys,
    drop=True,
    append=False,
    inplace=False,
    verify_integrity=False)

##### renaming column

1. method 1
df.columns = ['newcolumn name']
    > remember, the syntax is with plural column with S
    > with this method you cant change specific column to be replaced
        and if mispelled column name would be a mess\
    > with this method you cant change just only one column name. which means
        all of the column name must be replaced

2. method 2
df.rename(columns={'old':'new'},inplace = True)
    > using rename method takes 2 argument, columns and inplace.
        inplace means you will modify original dataframe not createing new one
    > using dictionary types, each column separated by comma
    > this method give more flexibility

3. method 3
df2.columns = df1.columns

## Pandas Aggregate

### Usefull aggregation syntax

df2.agg(['mean','std'])[['mpg','weight']]

df2.agg({'mpg':['mean','std'],'weight':['mean','std'],'displacement':['mean','max']})

mean = Average of all values in column
std	= Standard deviation
median = Median
max	= Maximum value in column
min	= Minimum value in column
count =Number of values in column
nunique = Number of unique values in column
unique = List of unique values in column
sum = ..
idxmax = show index of max value

        HOW TO USE
dataframe.column.aggregate()

GROUP BY aggregate
df.groupby('column1').column2.measurement()

        HOW TO USE
df.groupby('student').grade.mean()
    > this tell, find the average of grade column and group it to student column.
    > if this code being run, type of this data will be a panda series not a dataframe
    
orders.groupby('shoe_type').price.max().reset_index()
    > with reset_index() function called by, the data type will be a dataframe

MULTI COLUMN GROUPBY
shoe_counts = orders.groupby(['shoe_type','shoe_color']).id.count().reset_index()
    > the problems are we want to know what is the corelation between shoe type/shoe color
        with the amount of item sold.
    > generaly the code said count how many records or how many products are sold,
        and group it to column shoe type and shoe color.
    > reset index function to create a new data frame
    > after that code run, might be little bit uncomfortable due to column name. 
    (data frame column name is id, not a descriptive column name).
    in order to get rid of that, we need to rename the column name
     with syntax  >>>>> orders.rename(columns={"id": "counts"})

multimodule measurement operation PANDAS X NUMPY
The syntax will be: 
df.groupby('category').wage.apply(lambda x: np.percentile(x, 75)).reset_index()
     > speaking in genereal, this code will show 75% percentile of an employee wage and group it by each departement category
     > with .apply() called, will relace measurement function to achieve more flexibility
     > using lambda anonymous fuction within aplly function
     > x in lambda argument refer to wage column
     > reset_index() function will create a dataframe, not a series

### Pandas statistic

# most of this at pandas aggregate cell
df.corr()
> return correlation table of dataframes

df.column.value_counts()
return number of categorical data

### PIVOTING DATA

main goals of pivoting data is to achieve better understanding what is going on
or what is the correlation inbetween a data.

df.pivot(columns='ColumnToPivot',
         index='ColumnToBeRows',
         values='ColumnToBeValues'),reset_index()
         
columns is horizontal column
index is vertical column
value is amount of data which indicates realation inbetween horizontal and vertical column

df.transpose()
> change the column into row and vice versa

### Multi Table operations

method 1.
new_df = pd.merge(table1, table2)
    > using pandas module call

method 2
new_df = orders.merge(customers)
    > using table1 then call merge function
    
big_df = orders.merge(customers).merge(products)
    > chaining method 2

in case if we have same column name but each other refer to different entities. 
we would like to use this method.

pd.merge(
    orders,
    customers,
    left_on='customer_id',
    right_on='id',
    suffixes=['_order', '_customer']
)

suppose we have same column name called 'id'. we can separate the column name with left_on 
that refer to orders table, right_on refer to customers table. without suffixes argument,
pandas create column named id_x (refer to orders id column) id_y (refer to customers id column)
suffixes argument will create a template for column id with given keyword argument.

##### outer join

pd.merge(table1, table2, how='outer')
    >if there is missing value from ond in anothe table, it wont be erased and showing none/nan instead.
    > this method did not erase column if there is any mismatch column

pd.merge(company_a, company_b, how='left')
    >A Left Merge includes all rows from the first (left) table, but only rows from the second (right) table that match the first table.
    > in general, the records show all of company_a rows, and in company_b records will show nan because there is no value related to company_a.
    > some row that company_a doesnt have while company_b have it, the table wont show company_b properties because the focus is on the left (company_a)

## Concatenation

#### By Rows

 pd.concat([bakery,ice_cream],axis=1)
     > this will work if both DF have the same column name and the same column size

#### By Columns

pd.concat([df1,df2],axis=0)
    > note this only work if both df has the same row size

## Sampling dataset

df.sample(num, frac)
> num is number of random row
> frac is percentage of dataset