In [52]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy.stats import chi2_contingency, binom_test

the problem is we define upgrade package  with 3 version A,B,C.
with A =0.99,B=1.99,C=4.99
after conducting test we have data from test result. is the difference sinificant? 
are we making profit from proven version? we should make 1000$ per week to justify
which version to use that we charge the users for upgrade?

In [3]:
#inspecting data
df = pd.read_csv('clicks.csv')

#creating new tabel from data (user who bought marked with value in click day) 
df['is_purchase'] = df.click_day.apply(lambda x: 'No Purchase' if pd.isnull(x) else 'Purchase')
display(df.head())

                                user_id group click_day  is_purchase
0  8e27bf9a-5b6e-41ed-801a-a59979c0ca98     A       NaN  No Purchase
1  eb89e6f0-e682-4f79-99b1-161cc1c096f1     A       NaN  No Purchase
2  7119106a-7a95-417b-8c4c-092c12ee5ef7     A       NaN  No Purchase
3  e53781ff-ff7a-4fcd-af1a-adba02b2b954     A       NaN  No Purchase
4  02d48cf1-1ae6-40b3-9d8b-8208884a0904     A  Saturday     Purchase

In [42]:
#grouping data to each test group with purchase or not purchase data
purchase_counts= df.groupby(['is_purchase','group']).user_id.count().reset_index()
display(purchase_counts)

   is_purchase group  user_id
0  No Purchase     A     1350
1  No Purchase     B     1483
2  No Purchase     C     1583
3     Purchase     A      316
4     Purchase     B      183
5     Purchase     C       83

A_purchases = purchase_counts.loc[(purchase_counts.group == 'A') & (purchase_counts.is_purchase == 'Purchase')]\
['user_id'].values
print(type(A_purchases))

A_not_purchases = purchase_counts.loc[(purchase_counts.group == 'A') & (purchase_counts.is_purchase == 'No Purchase')]\
['user_id'].values
print(A_not_purchases)

#soon i realize this way is time consuming just like using tank to kill a chicken

In [45]:
# defining contingency tabel for hypo test with chi square
# containging A,B,C purcahse and not purchase
contingency = [[316,1350],[183,1483],[83,1583]]
chi2, pval, dof, expected = chi2_contingency(contingency)
print(pval)

is_significant = True

2.4126213546684264e-35

In [55]:
num_visits = df.user_id.count()
print(num_visits)
# code below to find each group customer needed to make 1000$ 
a = 1000/0.99 # +_ 1000 users
b = 1000/1.99 # +_ 500 users
c = 1000/4.99 # +_ 200 users

# amount of customers needed to reach 1000$ from total customers
p_clicks_099 = a / num_visits # 20% of total cust = 1000 cust
p_clicks_199 = b / num_visits # 10% of total cust = 500 cust
p_clicks_499 = c / num_visits # 4% of total cust =  200 cust

#performing hypotest with binom test
# x is users who upgrade from each group n is total users p is probability of user will choose this
pvalueA = binom_test(x=316, n=(316+1350), p=p_clicks_099)
pvalueB = binom_test(x=183, n=(1483+183), p=p_clicks_199)
pvalueC = binom_test(x=83, n=(1583+83), p=p_clicks_499)
print(pvalueA)
print(pvalueB)
print(pvalueC)

4998
0.2111287299402726
0.20660209246555486
0.045623672477172125