# Data Structure

A data structure is a particular way of organizing data in a computer so that it can be used effectively.

## Big O Notation

#### what is big o notation ?
a simplified analysis of an algorithm. a term to measure time and space requirement for program as imput size grow.
why care to much for big o?
- time and space efficiency
- machince stats independent
- time complexity in terms of input size (N)

#### type of measurement
>when we talk about big o notation, we typically look at worst case measurement. 
>time measurement can be represented by big O notation.with given formula time = a*n +b

    lets say we have a function below
somefuction(arr)

> with len(arr) =100
    
    running time will be 0.22 ms


> with len(arr)= 1000000
    
    running time will be 5.61 ms

#### general rules of big o
- drop constant/eliminate constant
    - 5n > O(n).
      > when the n growing, five is still constant. then we can declare the big o here is O(n)
- certain terms dominate other.
    - O(1) < O(log n) < O(n) < O(n log n) < O(n^2) < O(2^n) < O(n!)
        > from left to right is the sequence of big O notation strength.
        
        > whenever weaker notation and stronger notation meet in same algorithm, we only consider the strong one.
- example :
    - x = 5 + (15*20)
        > in that code above there is no growing size of (n). which mean big o notation is O(1)
    
    - x = 5 + (15*20) # this operation has O(1) + O(1)
    - y = 15-2 # this operation has O(1)
    - print(x+y)

        big o analysis for this code at a glance might be O(1) + O(1) + O(1) or 3 * O(1).  
        remember, we drop any constant hence the notation still O(1)

    - y = 5 + (15*20) # has O(1)
        for i in range(n): # has O(n)
        print(i) has O(1)
    
        when the n get bigger, time to run y is not considered. hence we have O(n) for the entire code. because the smaller term is being dropped and dominated by higher term

## O notation according to PML

O(1) < O(log n) < O(sqrt(n)) < O(n) < O(n log n) < O(n^2) < O(n^3) < O(2^n) < O(n!)

## kasus : mencoba menerima informasi jumlah kambing

In [37]:
var = {'kuda':3,'banteng':4,'badak':1,'kambing':9}
var['kambing'] #> O(1)

9

In [44]:
for k,v in var.items(): # iterasi dict > n
    if k == 'kambing': #iterasi validasi > n 
        print(v)
# O(n^2)

9

### Array

a computer store variables in the ram. for example:  
stock_price = [203,259,290,320,300,340]

if we want to ask what was the stock price in day 3?  
simply we can use stock_price[2] then the result comes up.
this operation use O(1) notation. in other words looking up by index use O(1) notation.

in a different case, what day where the stock price is 320?  
in this case, we are iterating through the pair of memory address and its value.  
notation for this operation use O(n)

in delete/insert case, python use stock_price.insert(1,220)  
by inserting a value at the index of 1, the other index after 1 is shifting through the memory address.  
as the result, it will perform iteration. it is same with delete, whenever deleting a value at particular index,  
the other value will shift through memory address to fill the empty gap.  
as the conclusion, the notation is O(n).

#### generaly speaking, there is 2 type of array
1. Static
2. Dynamic

what is the different between thoose two?
1. Static array
    consume fixed memory allocation. if an array declared only contain 6 element, we cannot add/increase the amount of the element otherwise the program will crash.  
2. Dynamic array
    an array with no fixed amount of element. it allow user to increase or add another element to the array. but, once dynamic array declared, it will allocate initial memory size by 10.  
    when the element fill the inital memory, then it automatically allocate 2 times more, if the second allocation is filled up it will allocate another 2 times size of memory.  
    memory allocation potrayed : 10(#1st), 20(#2nd, total memort =30), 60(#3rd, total memory =90)

in pyhton, there is no static array. a normal list in python is a dynamic array.  
python allow us to store multidimentional array, and multitype elements.

### Linked List

whenever we create a list in pyhton which is a dynamic list. python allocate initial memory by 5.  
if we populate all of the initial memory (which is 5) and still need more space because we want to add another value/element.  
in this condition, a NEW memory allocation with bigger space (size of 10) will be created and copying all of the previous element to this new memory allocation. this operation is not constant because iterate each element and copy to another memory area.

the same case if we want to add/insert new value somewhere in the middle, other element will move and swap trying to create a gap or space for the new element. of course this operation is O(n).

to outsmart this condition, we create a linked list.
benefit of linked list : no need to preallocate initial memory and insertion is easier and faster.

difference between array and linked list:  
Operation | array | linkedlist  
access element in some index | O(1) | O(n)  
insert/del at start | O(n) | O(1)  
insert/del at end | O(1)-reallocating new mem | O(n)  
insert element in the middle | O(n) | O(n)

#### implementation of linked list in python

### datatype

In [ ]:
"this is string"   
"12567"

both in this section is a string even a couple of a number. the reason is the value is inside quotation. if doing a math operation on a string, the result will only concatenate them, not giving the correct result of a math operation. string is immutable data, but can create another data from string via parsing methods

In [ ]:
25672477
float(21.2)

this is integer and a float. they will perform math operation correctly and to perform better accuracy with decimal float must be given.

In [ ]:
[1,2,6,'hello',True]

this is list, inside of it contain value separated by comma and the value itself called index. list is a mutable datatype

In [ ]:
{"indonesia":"jakarta","provinsi" :34, "islam": True}

this is a dictionary datatype. to create a dictionary in python, use curly braces. inside of dictionary there is a pair of data called KEY and VALUE, each pair is an index separated by comma.

In [ ]:
True, False

this is boolean data type, true represent 1 and false represent 0.
boolean is highly relative to a condition or logical operations.

In [ ]:
(1,"pulau",25,False)

this called tuple, the major different from is mutable and immutable. a tuple is immutable data

### variables

fruits = "papaya" 
>>> this variable contain a string and print out a string

count = 25 
>>> this variable contain a integer and print out an integer

shopping_list = fruits + str(count) 
>>> this called concatenate, if there is another different type of data, then will perform an error.
so match the data with str() or int()

count = count + 2 #or count+=2
>>>this method will update the variable value. and print out an update of previous count value added by 2

discount = dicount_function() 
>>> a variable can contain a function or can be used to create object instance

grocery_list = ["apple","toothbrush","shampoo","soap"]
>>> a variable can contain a list. can be iterate to access list index or value

fruit,vegs = "oranges","spinach"
>>> fruit contain oranges, vegs contain spinach

1_fruit = "apple"
1fruit = "papaya"
>>> this will show error because variable rules cant be number in first letter

everything in python is an object. variable is an object.
in order to avoid python getting confuse about variable overriding each other there is several ways.
1. module prefix variable
> math.x = 12
2. scope rules

### SCOPE RULES

general rules of scope:
LEGB (Local, Enclosing, Global, Built-in)
basically, that is the way python read a variable in order.

print(vege)
vege = "spinach"

>this will show name error, because python doesnt know what is variable 'vege', python reads the syntax from above.
which mean if there is no variable vege above the print function, then the function cant recognize it.


examp = "papa zulu one"  
def rules():  
   examp = "this is scope lesson"  
   print(examp)  

rules() >>>this is scope lesson  
print(examp) >>>papa zulu one

>even the same variable name, python would not update that. because scope rule. first examp variable is global variable,
and the second one is the local variable.

we can bound same object with (global, nonlocal) keyword

In [1]:
print(vege)

vege = "spinach"

NameError: name 'vege' is not defined

#### Global variable

glo_var = 'this is perfect global'

In [ ]:
sayur = 'kangkung'

#### Local Variable

In [5]:
#tidak bisa menggunakan variable lokal di domain global
def somefunc():
    loc_var = 'this is local'
    print(loc_var)

#somefunc() #> will print loc_var
print(loc_var) #> will cause an error

NameError: name 'loc_var' is not defined

In [7]:
# bisa menggunakan variable global di domain lokal
glo_var = 'this is  global'
def ebola():
    return glo_var

print(ebola())

this is  global

In [14]:
# bagaimana variable global dan lokal bekerja 
hewan = 'monkey'
def food():
    hewan = 'babi'
    return hewan

print(food())

babi

### TUJUAN SCOPE RULES
1. Mengetahui domain variable
2. mengetahui kapan harus menggunakan variable
3. menghindari overwrite variable

In [ ]:
df = pd.read_csv() # df is an object
knn = Knearestneighbors() #knn is an object

knn.predict() #predict is a method

knn.score_ #score is an attribute

#### Enclosing

In [26]:
def outer():
    o_var = 'this is outer'
    def inner():
        o_var = 'this is inner'
    
    inner()
    
    
outer()

Corey schafer  >> scope rules
Corey Schafer >> Class dan OOP

# variable rules

Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

### looping

1. iterate through list

In [2]:
vegetable = ['spinac','tomato','cabbage']
for each in vegetable:
    print(each)

spinac
tomato
cabbage

In [5]:
vegan = [['spinach','cabbage'],['banana','apple']]
for each in vegan:
    print(each)
    for item in each:
        print(item)

['spinach', 'cabbage']
spinach
cabbage
['banana', 'apple']
banana
apple

#### list comprehension

In [6]:
even_num = [2,4,6,8,10,12,14]
not_even = [each+1 for each in even_num]
print(not_even)

[3, 5, 7, 9, 11, 13, 15]

### Dictionary and loop through it

In [12]:
kamus = {'jefri':300, 'bani':250,'jabrik':100, 'banu':410}
for each in kamus: #by default it point to key
    print(each)
    
for each in kamus.values(): #pointing to value
    print(each) 
    
for key,value in kamus.items(): #point to ke and value separated by comma in temporary object
    key = key.upper()
    value +=100
    print(key,value)

jefri
bani
jabrik
banu
300
250
100
410
JEFRI 400
BANI 350
JABRIK 200
BANU 510

In [18]:
karyawan = {'andri':{'sex':'male','age':22,'job':'pilot','wage':10000},'danu':{'sex':'male','age':25,'job':'driver','wage':5000},\
           'maula':{'sex':'female','age':24,'job':'accounting','wage':2000}}

for each in karyawan: #point to key
    print(each)
    
for value in karyawan.values():
    print(value)

for each in karyawan.values():
    print(each['job'])

andri
danu
maula
{'sex': 'male', 'age': 22, 'job': 'pilot', 'wage': 10000}
{'sex': 'male', 'age': 25, 'job': 'driver', 'wage': 5000}
{'sex': 'female', 'age': 24, 'job': 'accounting', 'wage': 2000}
pilot
driver
accounting

### datetime handling

#datetime syntax and algo
exampledate = datetime.strptime('Mar 22, 2019', '%b %d, %Y') #p in strptime: means parse which mean will parse date in the first argument
exampledate.day
my_string = datetime.strftime(datetime.now(), '%b %d,%Y')
birthday = datetime(1999,2,25, 9,35,59) # the date format will be YYYY-MM-DD mm-ss-ms
#f in strftime: means format which mean will create date format from first argument given
#second argument in both strptime and strftime is pyhton built in format, or some kind of syntax to create certain date format, SEE DATETIME DOCUMENTATION

### file handling

#this section will talk about handling file in python
#readline return a single line, readlines return all of lines in a list form
# append arguments will keep appending when the code still there and doing run

with open('project sortasi data penjualan menjadi per kategori.txt') as project1:
    for line in project1.readlines():
        print(line)

#handling csv file
access_log = [{'time': '08:39:37', 'limit': 844404, 'address': '1.227.124.181'}, {'time': '13:13:35', 'limit': 543871, 'address': '198.51.139.193'}, {'time': '19:40:45', 'limit': 3021, 'address': '172.1.254.208'}, {'time': '18:57:16', 'limit': 67031769, 'address': '172.58.247.219'}, {'time': '21:17:13', 'limit': 9083, 'address': '124.144.20.113'}, {'time': '23:34:17', 'limit': 65913, 'address': '203.236.149.220'}, {'time': '13:58:05', 'limit': 1541474, 'address': '192.52.206.76'}, {'time': '10:52:00', 'limit': 11465607, 'address': '104.47.149.93'}, {'time': '14:56:12', 'limit': 109, 'address': '192.31.185.7'}, {'time': '18:56:35', 'limit': 6207, 'address': '2.228.164.197'}]
fields = ['time', 'address', 'limit']


with open('logger.csv','w') as logger_csv: #argument given in a write mode
    output_writer = csv.DictWriter(logger_csv,fieldnames = fields)
    output_writer.writeheader()
    
    for row in access_log:
        output_writer.writerow(row)

csv is file extension that can be used with, 
excel file, databse export.

#handling json file
data_payload = [
  {'interesting message': 'What is JSON? A web application\'s little pile of secrets.',
   'follow up': 'But enough talk!'}
]
import json
with open('codecademy.json','w') as lesson_json:
    json.dump(data_payload, lesson_json)

### OOP

# operator in OOP
class UserGroup:
    def __init__(self, users, permissions):
        self.user_list = users
        self.permissions = permissions
    def __iter__(self):
        return iter(self.user_list)
    
    def __len__(self):
        return len(self.user_list)
    
    def __contains__(self, user):
        return user in self.user_list
    
    #def __add__(self,other):
    # do some addition

class Circle:
    pi = 3.14
    #init method is the requirement for an object that want to create
    def __init__(self, diameter):
        self.radius = diameter / 2
    
    def area(self):
        return self.pi * self.radius ** 2

    def circumference(self):
        return self.pi * 2 * self.radius
    #repr is acronym of representation which mean when there is no argument called, then repr show up by default
    def __repr__(self):
        return "circle with radius {radius}".format(radius = self.radius)
    
#instancing object in class
medium_pizza = Circle(12)
print(medium_pizza.area())
print(medium_pizza)
print(medium_pizza.radius)

class InsurancePolicy:
  def __init__(self, price_of_item):
    self.price_of_insured_item = price_of_item

#this is inheritance of main class 
class VehicleInsurance(InsurancePolicy):
  def get_rate(self):
    rate =self.price_of_insured_item * .001
    return rate
class HomeInsurance(InsurancePolicy):
  def get_rate(self):
    rate =self.price_of_insured_item * .00005
    return rate

lamborghini = VehicleInsurance(400000)
lamborghini.get_rate()

#last class lesson on codecademy
class Student:
    def __init__(self,name,year):
        self.name = name
        self.year = year
        self.grades = []
    def add_grade(self,grade):
      if type(grade) is Grade:
        self.grades.append(grade)
        
    def print_grades(self):
        for grade in self.grades:
            print (grade.score)
        
class Grade:
  minimum_passing =65
  def __init__(self,score):
    self.score = score

pieter = Student('Pieter Bruegel the Elder',8)
pieter.add_grade(Grade(100))
pieter.print_grades()

# Lambda

lambda in python is an anonymous funtion that only has one expression.
in general, this is lambda concept

    lambda arguments : expression
- a lambda can take more than one argument

We can make our lambdas more complex by using a modified form of an if statement
    lambda x: [OUTCOME IF TRUE] if [CONDITIONAL] else [OUTCOME IF FALSE]
    lambda x: [operation] for x in list
    lambda x: [outcome if true] if [contdition] else ([out if true] if [condition] else [out if false])

Lambda functions work with all types of variables, not just integers!
Here is an example that takes in a string, assigns it to the temporary variable x, 
and then converts it into lowercase.

 x = lambda a : a + 10
print(x(5))
    #>>> 15

myfunction = lambda x: 40 + (x - 40) * 1.50 if x > 40 else x
print(myfunction(80))

m = lambda a, b : a * b
print(m(5, 6))

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
print(mydoubler(11))

stringlambda = lambda x: x.lower()
print(stringlambda("Oh Hi Mark!"))

#duplicate related
seen = {}
dupes = []

for x in a:
    if x not in seen:
        seen[x] = 1
    else:
        if seen[x] == 1:
            dupes.append(x)
        seen[x] += 1

## Checking code runtime duration

In [1]:
import timeit

In [4]:
setup = '''
import numpy as np
import pandas as pd
df = pd.read_csv('tips.csv')
def quality(total_bill, tip):
    if tip/total_bill > .25:
        return "Generous"
    else:
        return "Other"
'''

In [2]:
tst1 = '''
df['Quality'] = df[['total_bill','tip']].apply \
(lambda df: quality(df['total_bill'],df['tip']),axis=1)
'''

tst2 = '''
df['Quality'] = np.vectorize(quality)(df['total_bill'],df['tip'])
'''

In [6]:
timeit.timeit(setup=setup,stmt=tst1,number=1000)

In [ ]:
timeit.timeit(setup=setup,stmt=tst2,number=1000)

In [27]:
nama = ['apri','rifan','jalaludin','asshidqi','pucenong']

#append
# menambahkan SATU ELEMENT ke dalam list
nama.append('kuda')
nama.append(['banteng','badak'])
print(nama)

#insert
# menambahkan element kedalam list sesuai index
nama.insert(1,'badut')
print(nama)

#extend
#menambahkan beberapa element kedalam list
nama.extend(['cacing','sapi','codot','kadal'])
print(nama)

#pop
#menghapus element terakhir pada list
nama.pop()
print(nama)

#remove
#menghapus element sesuai value 
nama.remove('kuda')
print(nama)

# sort and reverse
# menyortir value pada list, sort untuk ASCENDING reverse untuk DESCENDING
nama.reverse()

['apri', 'rifan', 'jalaludin', 'asshidqi', 'pucenong', 'kuda', ['banteng', 'badak']]
['apri', 'badut', 'rifan', 'jalaludin', 'asshidqi', 'pucenong', 'kuda', ['banteng', 'badak']]
['apri', 'badut', 'rifan', 'jalaludin', 'asshidqi', 'pucenong', 'kuda', ['banteng', 'badak'], 'cacing', 'sapi', 'codot', 'kadal']
['apri', 'badut', 'rifan', 'jalaludin', 'asshidqi', 'pucenong', 'kuda', ['banteng', 'badak'], 'cacing', 'sapi', 'codot']
['apri', 'badut', 'rifan', 'jalaludin', 'asshidqi', 'pucenong', ['banteng', 'badak'], 'cacing', 'sapi', 'codot']

In [94]:
username = ['teraCoder', 'pythonGuy', 'samTheJavaMaam', 'lyleLoop', 'keysmithKeith']
user_id = [100019, 182921, 123112, 102931, 129384]

#create dictionary from 2 list 
name_id = {sirkus:badut for badut,sirkus in zip(username,user_id)}
name_id

{100019: 'teraCoder',
 182921: 'pythonGuy',
 123112: 'samTheJavaMaam',
 102931: 'lyleLoop',
 129384: 'keysmithKeith'}

In [41]:
# LIST COMPREHENSION
nilai_mtk_kevin_uts = [45,55,70,10,30,80]

#list comprehenseion
nilai_mtk_kevin_uts_versi2 = [each+10 for each in nilai_mtk_kevin_uts]
#print(nilai_mtk_kevin_uts_versi2)
#manual
versi2 =[]
for each in nilai_mtk_kevin_uts:
    versi2.append(each+10)
#print(versi2)

#list comprehension
nilai_mtk_kevin_uts_versi3 = [each + 10 if each < 60 else each for each in nilai_mtk_kevin_uts]
print(nilai_mtk_kevin_uts_versi3)
#manual
versi3 = []
for each in nilai_mtk_kevin_uts:
    if each < 60:
        versi3.append(each+10)
    else:
        versi3.append(each)

print(versi3)

[55, 65, 70, 20, 40, 80]
[55, 65, 70, 20, 40, 80]

In [58]:
(lambda badut: badut+30)(60)

90

In [59]:
pwd

'C:\\Users\\ACER\\Python Cheatsheet'

In [84]:
import pandas as pd
df = pd.read_csv("C:\\Users\\ACER\\Data science path\\user_data_001.csv")

In [85]:
df.head()

           city        education  age
0  Brooklyn, NY          college   31
1  Brooklyn, NY  graduate degree   31
2  Brooklyn, NY  graduate degree   32
3  Brooklyn, NY          college   37
4  Brooklyn, NY          college   21

In [88]:
df['age'] = df['age'].apply(lambda x: x+10 if x <40 else x)

In [89]:
df.head()

           city        education  age
0  Brooklyn, NY          college   41
1  Brooklyn, NY  graduate degree   41
2  Brooklyn, NY  graduate degree   42
3  Brooklyn, NY          college   47
4  Brooklyn, NY          college   41

In [2]:
nama = 'kevin'
umur = 21
buah_kesukaan = 'pisang'

sentence = 'nama saya adalah {} dan saya berumur {} saya sangat suka sekali {}'.format(nama,umur,buah_kesukaan)

In [3]:
print(sentence)

nama saya adalah kevin dan saya berumur 21 saya sangat suka sekali pisang